[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
