.lineChart,
.boxplotChart {
  width: 600px;
  height: 250px;
}

.topographicalMap {
  height: 150px;
}

td {
  text-align: center;
}

#aiaTable th {
  width: 100px;
  word-wrap: break-word;
}

#aiaArea table,
#aiaArea th,
#aiaArea td,
#aucArea table,
#aucArea th,
#aucArea td {
  border: 1px solid black;
}

.pageHeader,
.pageFooter {
  display: none;
}

@media print {
  body {
    margin: 1cm;
  }
  #printReport {
    display: none;
  }
  div,
  table {
    page-break-after: auto;
    page-break-inside: avoid;
    page-break-before: auto;
  }
  .pageHeader,
  .pageFooter {
    display: unset;
  }
  .pageHeader {
    position: fixed;
    top: 0;
  }
  .pageFooter {
    position: fixed;
    bottom: 0;
  }
}
