/* 通用样式 */

@media all {
  p {
    text-indent: 2em;
    /* 首行缩进两个字符 */
  }
  caption {
    font-size: 14px;
  }
  .ball-pulse > div {
    background-color: rgb(91, 171, 245);
  }
  .lineChart,
  .boxplotChart {
    width: 600px;
    height: 210px;
    margin: auto;
    /* 居中 */
  }
  .topographicalMap,
  .brainNetMap {
    max-width: 100%;
    max-height: 100%;
  }
  .topographicalMapTable td,
  .brainNetMapTable td {
    height: 150px;
    min-width: 150px;
  }
  table {
    min-width: 500px;
    caption-side: bottom;
    margin: auto;
    /* 居中 */
    margin-bottom: 1em;
  }
  td {
    text-align: center;
  }
  #aiaArea th,
  #aucArea th {
    width: 100px;
    word-wrap: break-word;
  }
  /* 文字表边框 */
  #aiaArea table,
  #aiaArea th,
  #aiaArea td,
  #aucArea table,
  #aucArea th,
  #aucArea td {
    border: 1px solid black;
  }
}

/* 屏幕显示时样式 */

@media screen {
}

/* 打印时样式 */

@media print {
  @page {
    size: A4 portrait;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 1.5cm;
    margin-bottom: 0cm;
  }
  body {
    color: #000;
    background: #fff;
  }
  #printReport {
    display: none;
  }
  h2 {
    page-break-before: always;
    page-break-after: avoid;
  }
  .pageBreakAfter {
    page-break-inside: avoid;
    page-break-after: always;
  }
  table,
  .lineChart,
  .boxplotChart {
    page-break-inside: avoid;
  }
}
