/* 通用样式 */
@media all {
  .lineChart,
  .boxplotChart {
    width: 600px;
    height: 250px;
  }
  .topographicalMap {
    height: 150px;
  }
  td {
    text-align: center;
  }
  #aiaTable th {
    width: 100px;
    word-wrap: break-word;
  }
  #aiaArea table,
  #aiaArea th,
  #aiaArea td,
  #aucArea table,
  #aucArea th,
  #aucArea td {
    border: 1px solid black;
  }
}
/* 屏幕显示时样式 */
@media screen {
}
/* 打印时样式 */
@media print {
  @page {
    size: A4 portrait;
    margin-top: 2cm;
    margin-bottom: 1cm;
  }
  body {
    color: #000;
    background: #fff;
  }
  #printReport {
    display: none;
  }
  h2 {
    page-break-before: auto;
    page-break-after: avoid;
  }
  div,
  figure,
  .lineChart,
  .boxplotChart {
    page-break-inside: avoid;
  }
}
